// This is the file that manually overrides default CSS
body {
    background: #fafafa !important;
    // overflow-y: hidden !important; /* Hide vertical scrollbar */
    // overflow-x: hidden !important; /* Hide horizontal scrollbar */
}

body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url('/w3images/forestbridge.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}